<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
<div ng-app="myapp" ng-controller="myCtrl">
	<input type="Text" ng-model="pid" placeholder="Enter pid" >
	<table>
		<tr ng-repeat="data in techSpecs">
			<td><input type=text ng-model="data.techAttr" ></td>
			<td><input type=text ng-model="data.techValue" ></td>
		</tr>	
	</table>
	<span ng-click="addTextBox()">+</span>
	<br>
	<button ng-click="save()">Store To database</button>
</div>


</body>
<script>
 	var app = angular.module("myapp",[]);
 	app.controller("myCtrl",function($scope){
 		$scope.product = {};
 		$scope.product.pid = null;
 		$scope.product.techSpecs = new Array();
 		$scope.techSpecs = [{techAttr:"",techValue:""}];
 		//$scope.arr = new Array();
 		//abc.specs = $scope.arr;
 		
 		/*$scope.addItem = function(){
 			abc.pid = 1234;
 			var spec = "Dimension";
 			var xyz = {};
 			xyz[spec] = $scope.txtBox;
 			abc.specs.push(xyz); 		
 			console.log(abc);
 		}*/
 		
 		$scope.addTextBox = function(){
 			$scope.techSpecs.push({techAttr:"",techValue:""});
 			//console.log($scope.techSpecs);
            
 		}
 		
 		$scope.save = function(){
 			console.log($scope.techSpecs);
 			$scope.product.pid = $scope.pid;
 			$scope.product.techSpecs = $scope.techSpec;
 			console.log($scope.product);
            $http.post("http://localhost:3000/insertData",$scope.product).then(function(response){
                    alert("received");
            });
            }
 		
 	});

</script>
</html>