<!DOCTYPE HTML>
<html>

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
.marginT70 {
	background-color: sand;
	margin-top: 70px;
}

body {
	/*background-color: rgb(210, 234, 252);*/
	background-image : url("3.jpeg");
}

.td-input-box {
	text-align: center;
	margin: 100px;
}

.data-table {
	text-align: center;
	margin: 10px;
}

.intro {
	background-color: #C9FFE5;
}

.padding {
	padding: 50px;
}

.searchList {
	cursor: pointer;
	margin: 2px;
	padding: 2px;
	background-color: #00CEFF;
}

#demo {
	color: blue;
	text-align: center;
}

 img{
        border-radius: 5px;
       /* margin-left: 10%;*/
    }

</style>

<body >
<img src="god.jpg" width="1500" height="150">
<div ng-init="myVar = 'gd.png'">
<img ng-src="{{myVar}}">
</div>
	<div class="container" ng-app="myapp" ng-controller="myCtrl">
		<div class="marginT70 col-md-4 form-group">
			<h3>Enter Product I.D.</h3>
			<input class="form-control" type="text" ng-model="pid"
				ng-change="searchBox()" placeholder="Enter pid" required>

		</div>
		<div class="marginT70 col-md-8" style="overflow-y: true">
			<div ng-show="searchList">
			Search results:
				<div class="searchList" ng-repeat="x in techSpecs1| filter : pid"
					>
					<span ng-click="fetchData(x)">{{x.pid}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-12 ">
			<table class="table data-table " class="form-group">
				<thead>
					<th>Description Title</th>
					<th>Description</th>
				</thead>
				<tr ng-repeat="data in techSpecs">
					<td><input class="form-control" type=text
						ng-model="data.techAttr" placeholder="Enter Description Title..."></td>
					<td><input class="form-control" type=text
						ng-model="data.techValue" placeholder="Enter Description"></td>
					<td><span class="glyphicon glyphicon-remove"
						ng-click="remove($index)"></span></td>
				</tr>
			</table>
			<span style="cursor: pointer" class="glyphicon glyphicon-plus"
				ng-click="addTextBox()"></span> <br>
			<input type="file" file-input="files" accept=".jpg,.jpeg,.png" multiple>
			<br>
			<button class="btn btn-primary" ng-click="save()">Save</button>
			<button class="btn btn-danger" ng-click="delete()">Delete</button>
			<div id="demo"></div>
		</div>


	</div>


</body>
<script>
 	var app = angular.module("myapp",[]);
 	app.controller("myCtrl",function($scope,$http){
 		$scope.product = {};
 		$scope.pid = null;
 		var update=false;
 		$scope.searchList = false;
 		$scope.product.pid = null;
 		$scope.product.techSpecs = new Array();
 		$scope.techSpecs = [{techAttr:"",techValue:""}];
 		
 		
 		//
 		//Initialising data from DB
 		//
 		$http.post("http://localhost:3000/initializeData").then(function(response){
		        $scope.techSpecs1 = response.data;
		        console.log(response.data);
			});
 		//
		// Removing a Row
		//
		$scope.remove = function(index)
		{
			$scope.techSpecs.splice(index,1);
		}


 		//
 		//search list
 		//
 		
 		$scope.searchBox = function(){
 			
 			if($scope.pid.length>=2){
 				$scope.searchList = true;
 			}
 			else{
 				$scope.searchList = false;
 				
 			}
 		}

                $scope.fetchData = function(x) {
                    $scope.pid = x.pid;
                    $scope.techSpecs = x.techSpecs;
                    update = true;

                }

                //Pushing data in DB
                //
                $scope.addTextBox = function() {
                    $scope.techSpecs.push({
                        techAttr: "",
                        techValue: ""
                    });
                }

                $scope.save = function() {
                	
					var image = null;
					var fd = new FormData();
					if ($scope.files) {
						image=$scope.files.name;
					}
					if(!$scope.pid){
                		alert("enter a product Id");
                		return;
                	}
                	
                	var txt;
                	update = false;
           			
           			for(var i=0; i<$scope.techSpecs1.length;i++){
           				if($scope.pid == $scope.techSpecs1[i].pid)
           				{
           					update = true;
           				}
           			}
           			
           			for(var i=0; i<$scope.techSpecs.length;i++){
           				if(!$scope.techSpecs[i].techAttr && !$scope.techSpecs[i].techValue)
           				{
           					$scope.techSpecs.splice(i,1);
           					i-=1;
           				}
           			}
                           	
					console.log($scope.techSpecs);
					fd.append('file',$scope.files);
					fd.append('pid',$scope.pid);
					fd.append('techSpecs',JSON.stringify( $scope.techSpecs));
                   // $scope.product.pid = $scope.pid;
                   // $scope.product.techSpecs = $scope.techSpecs;
                    console.log($scope.product);
                    if (update) {
                    	var r = confirm("Product Id Already exists. Do you want to overwrite it?");
    	       			if (r == true) {
    	          			  txt = "Updated!";
    	        		}	 
           				else {
                   			txt = "";
                   			return ;
              			 }
               			document.getElementById("demo").innerHTML = txt;
                        $http.post("http://localhost:3000/updateData", fd).then(function(response) {
                            alert("received");
                        });
                    }
                    else {
                    	var r = confirm("Do you want to save it?");
    	       			if (r == true) {
    	          			  txt = "Saved!";
    	        		}	 
           				else {
                   			txt = "";
                   			return ;
              			 }
               			document.getElementById("demo").innerHTML = txt;
                        $http.post("http://localhost:3000/insertData", fd,{
							transformRequest: angular.identity,
							headers: { 'Content-Type': undefined }
						}).then(function(response) {
                            alert("received");
                        });
                    }
                    $scope.techSpecs = [{techAttr:"",techValue:""}];
                    $scope.pid = "";
                    
                }
                
                
                
                //Delete
                $scope.delete = function() {
                	var txt;
                	if(!$scope.pid){
                		alert("enter a product Id");
                		return;
                	}
                	var r = confirm("Are you sure to delete?");
	       			if (r == true) {
	          			  txt = "Deleted!";
	        		}	 
       				else {
               			txt = "";
               			return ;
          			 }
           			document.getElementById("demo").innerHTML = txt;
                    var del = {
                    		pid: $scope.pid.toString()
                    };
                   
                    $http.post("http://localhost:3000/DeleteData", del).then(function(response) {
                        alert("received");
                    });
                    $scope.techSpecs = [{techAttr:"",techValue:""}];
                    $scope.pid = "";
                

                }
    });

	app.directive("fileInput", ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, elm, attrs) {
                    elm.bind('change', function (parse) {
                        $parse(attrs.fileInput).assign(scope, elm[0].files[0]);
                        scope.$apply();
                    })
                }
            }
        }]);

</script>

</html>
