.opacity3{
    opacity:0.3;
}
.logo{
    background-color:white;
    text-align: right;
    
}
.displayInlineBlock{
    display: inline-block;
}
.logo>img{
   max-width:250px;
}

.addressList{
    overflow-y: scroll;    
    height : 75vh;
}
.addressBox{
    margin: 2px;
    background-color:#89ffc3;
    list-style: none;
    padding-left: 10%;
    width: 100%;
    display: flex;
}
.newAddressBox{
    text-align: center;
    margin: 2px;
    padding:10px;
    background-color: #89ffc3;
}
.deliverBtn{
    padding-top: 10%;
}

.listStyleNone{
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    width: 100%;
}


.head{
    background-color:lightblue;
    
}


.modal-header{
    margin: 0;
    line-height: 1.42857143;
    background-color:lightblue;
}


.alignCenter{
    text-align: center;
}
.font24{
    font-size: 24px;
}

.floatRight{
    float : right;
}



/*----------------------progress bar-------------------*/
.orderDetailsImg{
    max-width: 150px;
    height: 150px;

}
.headingDiv{
    height: 70px;
}
.headingDiv div{
float:left;
display: block;
margin-left:35px;
padding: 0px 20px 0px 20px;

}
.orderId {
    float:right;
}
.orderViewer img {
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    height:150px;
}
.orderViewer div{
    display: inline-block;
    width: 300px;
    height: 200px;
    vertical-align: middle;
    margin-left: 30px;
    padding-top:30px;

}
.orderViewer button{
    float: right;
}
/* Progress bar style */

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckrDone {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckrTodo {
    color: silver; 
    border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckrCancel {
    color: silver; 
    border-bottom: 4px solid rgb(228, 67, 67);
}
ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckrDone:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckrTodo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

/* addtechnicalspecifications*/

.marginT70 {
	background-color: sand;
	margin-top: 70px;
}

body {
	background-color: seagreen
	/*background-image : url("003+background+pattern+designs.jpg");*/
}

.td-input-box {
	text-align: center;
	margin: 100px;
}

.data-table {
	text-align: center;
	margin: 10px;
}

.intro {
	background-color: #C9FFE5;
}

.padding {
	padding: 50px;
}

.searchList {
	cursor: pointer;
	margin: 2px;
	padding: 2px;
	background-color: #00CEFF;
}

#demo {
	color: blue;
	text-align: center;
}

 img{
        border-radius: 5px;
       /* margin-left: 10%;*/
    }
    
    .tooltip {
        position: relative;
        display: inline-block;
        opacity: 1 !important;
    }
    
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 80px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 20px;        
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .tooltip .tooltiptext::after {
        
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    
    .logo{
	  	background-color:white;
	  	text-align: right;
	  	
  	}
	.logo>img{
	 	max-width:250px;
	}



	