.opacity3{
    opacity:0.3;
}
.logo{
    background-color:white;
    text-align: right;
    
}
.logo>img{
   max-width:250px;
}

.addressList{
    overflow-y: scroll;    
    height : 75vh;
}
.addressBox{
    margin: 2px;
    background-color:#89ffc3;
    list-style: none;
    padding-left: 10%;
    width: 100%;
    display: flex;
}
.newAddressBox{
    text-align: center;
    margin: 2px;
    padding:10px;
    background-color: #89ffc3;
}
.deliverBtn{
    padding-top: 10%;
}

.listStyleNone{
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    width: 100%;
}


.head{
    background-color:lightblue;
    
}


.modal-header{
    margin: 0;
    line-height: 1.42857143;
    background-color:lightblue;
}


.alignCenter{
    text-align: center;
}
.font24{
    font-size: 24px;
}






	