.opacity3{
    opacity:0.3;
}
.logo{
    background-color:white;
    text-align: right;
    
}
.displayInlineBlock{
    display: inline-block;
}
.logo>img{
   max-width:250px;
}

.addressList{
    overflow-y: scroll;    
    height : 75vh;
    background-color:#eeeeec; 
    border-style: solid;
    border-color: #87cefa;
}
.addressBox{
    margin: 2px;
    background-color:#ffffff;
    list-style: none;
    padding-left: 10%;
    width: 100%;
    display: flex;
}
.newAddressBox{
    text-align: center;
    margin: 2px;
    padding:10px;
    background-color: #ffffff;
}
.paddingT10{
    padding-top: 10%;
}

.listStyleNone{
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    width: 100%;
}

.well1{
	 background-color:lightblue;
}
.head{
    background-color:lightblue;
    
}
.productImage{
    max-width: 285px;

}

.modal-header{
    margin: 0;
    line-height: 1.42857143;
    background-color:#87cefa;
    border:0;
}


.alignCenter{
    text-align: center;
}
.font24{
    font-size: 24px;
}

.floatRight{
    float : right;
}
.addressPopUp{
    width : 80vw;
}



/*----------------------progress bar-------------------*/
.orderDetailsImg{
    max-width: 150px;
    height: 150px;

}
.headingDiv{
    height: 70px;
}
.headingDiv div{
float:left;
display: block;
margin-left:35px;
padding: 0px 20px 0px 20px;

}
.orderId {
    float:right;
}
.orderViewer img {
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    height:150px;
}listImage
.orderViewer div{
    display: inline-block;
    width: 300px;
    height: 200px;
    vertical-align: middle;
    margin-left: 30px;
    padding-top:30px;

}
.orderViewer button{
    float: right;
}
/* Progress bar style */

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckrDone {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckrTodo {
    color: silver; 
    border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckrCancel {
    color: rgb(247, 180, 180); 
    border-bottom: 4px solid rgb(247, 180, 180);
}
ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckrDone:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckrCancel:before {
    content: "\2715";
    color: white;
    background-color: rgb(247, 180, 180);
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckrTodo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}
.listImage{
    max-width: 100%;
    height : 150px;
}
.paddingLR10{
	padding-left:10%;
	padding-right:10%;
}

.marginT10{
    margin-top: 10%;
}
.listItemCell{
    background-color:#D3D3D3;
    margin :15px;
    height: 250px;
    border: 1px solid #BFB3B3;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}  
.listItemCell :hover{
    max-height: 250px;
    box-shadow: 2px 4px 10px black;
    transform: scale(1.15);
}
.proImage {
    max-height: 200px;
    transition: transform .2s;
   
}
.proImage :hover{
   
    transform: scale(1.25);
}
<<<<<<< HEAD
.table-success{
	background-color: #c3e6cb;
}

	
=======
	

 
/*----------------------Registeration-------------------*/
/*
    body {
        background-color: #996633;
    }

    .col-md-12,
    td,
    th,
    table {
        text-align: left;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 30%;
        padding: 5px;
    }

    .table {
        border: 1px solid grey;
        width: 100%;
        margin-left: 25%;
        margin-right: 25%;
    }

    table tr:nth-child(odd) {
        background-color: #f1f1f1;
        padding: 5px;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
        padding: 5px;
    }
*/
>>>>>>> branch 'master' of https://github.com/iprimed-quinnox1/team_04_src.git
