<div>
	<div class="container">
		<div class="marginT70 col-md-4 form-group">
			<h3>Enter Product I.D.</h3>
			<input class="form-control" type="text" ng-model="pid"
				ng-change="searchBox()" placeholder="Enter pid" required>

		</div>
		<div class="marginT70 col-md-8" style="overflow-y: true">
			<div ng-show="searchList">
			Search results:
				<div class="searchList" ng-repeat="x in techSpecs1| filter : pid">
					<span ng-click="fetchData(x)">{{x.pid}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-12 ">
			<table class="table data-table " class="form-group">
				<thead>
					<th>Specification</th>
					<th>Description</th>
				</thead>
                 <tr>
                    <td><b>Name : </b></td>
                    <td>
                        <input type="text" ng-model="newItemName">
                    </td>
                </tr>
                <tr>
                    <td><b>Price : </b></td>
                    <td>
                        <input type="text" ng-model="newItemPrice">
                    </td>
                </tr>
				<tr ng-animate="'animate'" style="border:1px solid red; padding:10px" ng-repeat="data in techSpecs">
					<td  ng-animate="'animate'" ><input class="form-control" type=text
						ng-model="data.techAttr" placeholder="Enter Description Title..."></td>
					<td  ng-animate="'animate'" ><input class="form-control" type=text
						ng-model="data.techValue" placeholder="Enter Description"></td>
					<td  ng-animate="'animate'" > <div class="tooltip">
                        <span class="glyphicon glyphicon-minus" ng-click="remove($index)"></span>
                        <span class="tooltiptext">Remove</span>
                    </div>					
				</tr>
			</table>
			 <div class="tooltip">
                    <span style="cursor: pointer" class="glyphicon glyphicon-plus" ng-click="addTextBox()"></span>
                    <span class="tooltiptext">Add New Row</span>
             </div> <br>
			<input type="file" file-input="files" accept=".jpg,.jpeg,.png" multiple>
			
	
			<button class="btn btn-primary" ng-click="save()">Save</button>
			<button class="btn btn-danger" ng-click="delete()">Delete</button>
			<div id="demo"></div>
		</div>
	</div>
</div>

