<div > 
 
    <table border="1">
        <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Gift_Wrapper</th>
            <th>Default Address</th>
            <th> Address</th>
        </tr>
        <tr ng-repeat="x in Cart">
            <td><img src="{{x.img}}"></td>
            <td>{{x.pname}}</td>
            <td><span class="glyphicon glyphicon-plus" ng-click="x.quantity=x.quantity+1"></span>{{x.quantity}}<span class="glyphicon glyphicon-minus" ng-click="x.quantity=x.quantity-1"></span>       </td>
            <td><input type="checkbox">Yes<br></td>
            <td></td>   
    
            <td>
                <a  href="#!suggest/?index={{$index}}" class="btn btn-default" data-dismiss="modal">Change
                </a>
    
        
            </td>
    
        </tr>
    </table>
    <button ng-click="checkout()">Checkout</button>
</div>    