<div class="container">

    <div class= "well" ng-repeat="x in product">
        <div>
            <span>ORDER ID:-{{x.orderId}}</span>
            <span class="floatRight">Deliver To:- {{x.address.customerName}},{{x.address.Address}},{{x.address.city}},{{x.address.mobileNo}},{{x.address.pincode}},{{x.address.state}}

            </span>
        </div>
        <div>
            <img src="./resources/images/climbers.jpg" height="150px">
            <div class = "col-md-2 floatRight displayInlineBlock">
                <button ng-disabled="{{x.status> 1}}" ng-click="cancelOrder(x)" class="btn btn-danger">Cancel Order</button>
                <a ng-disabled="{{x.status> 1}}" href="#!suggest/?index={{$index}}" class="btn btn-success">Change Address</a>
            </div>
            <ol class="progtrckr" data-progtrckr-steps="6">
                <li ng-class="{progtrckrDone : x.status>=0&&x.status<6, progtrckrTodo :x.status <0,progtrckrCancel :x.status==6 }">Order Placed</li>
                <li ng-class="{progtrckrDone : x.status>=1&&x.status<6, progtrckrTodo :x.status <1,progtrckrCancel :x.status==6  }">Processing</li>
                <li ng-class="{progtrckrDone : x.status>=2&&x.status<6,progtrckrTodo :x.status <2 ,progtrckrCancel :x.status==6 }">Order Dispatched</li>
                <li ng-class="{progtrckrDone : x.status>=3&&x.status<6,progtrckrTodo :x.status <3 ,progtrckrCancel :x.status==6 }">On The Way</li>
                <li ng-class="{progtrckrDone : x.status>=4&&x.status<6,progtrckrTodo :x.status <4 ,progtrckrCancel :x.status==6 }">Out for Delivery</li>
                <li ng-class="{progtrckrDone : x.status>=5&&x.status<6,progtrckrTodo :x.status <5 ,progtrckrCancel :x.status==6 }">Delivered</li>
            </ol>

            <div>{{x.date|date: "mediumDate" }}</div>
        </div>
    </div>
</div>