//
<div class="col-md-12">

            <div class="input-group gla">
                <input type="text" class="form-control " placeholder="Search" id="txtSearch" align="right" width="48" height="48"/>
                <div class="input-group-btn">
                     <button class="btn btn-primary" type="submit">
                     <span class="glyphicon glyphicon-search"></span>
                     </button>
                </div>
        </div>

        <div class="col-md-3 listItemCell well" ng-repeat="y in products" ng-click="selectedItem(y)">
            <a href="{{'#!/productDetails?pid='+y.pid}}"> <img src="{{'./resources/images/'+y.img}}" class="img-thumbnail proImage thumb" alt="{{x.pName}}"></a>
            <br>

            <a href="{{'#!/productDetails?pid='+y.pid}}">{{y.pid}} </br>{{y.itemName}} </br>{{y.itemPrice}}</br></a>

        </div>

    </div>