
    <div class="container">
    

    </div>
    <div class="col-md-12">
        <form class=form-horizontal name="addressForm">
            <table class="table data-table " class="form-group">
                <thead>
                    <th>Registration</th>
                </thead>
               <tr width="20%">
                    <td width="20%"><label>Enter customerName</label><input type="text" size="20" class="form-control" class="padding" text-align="center" ng-model="customer.customerName" placeholder="Enter customerName...">
                    </td>"style.css~"
                </tr>

                <tr width="20%">
                    <td width="20%"><label>Enter password</label><input type="text" size="20" class="form-control" class="padding" text-align="center" ng-model="customer.customerPassword" placeholder="Enter password...">
                    </td>
                </tr>
                
                <tr width="20%">
                    <td width="20%"><label>Enter customerEmail</label><input type="text" size="20" class="form-control" class="padding" text-align="center" ng-model="customer.customerEmail" placeholder="Enter customer email...">
                    </td>
                </tr>
                
            </table>
        </form>

        <button class="btn btn-primary" ng-click="saveAddress()">Save</button>
        <button class="btn btn-primary" ng-click="registeration()">Register</button>
    </div>

